:root {
  --joern-theme-primary: #4ec001;
  --darkmode: #181d18;

  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-pre-background: #2d2d2d;
  --ifm-code-font-size: 100%;
  --ifm-font-family-base: monospace;
  --ifm-font-size-base: 14px;

  --ifm-joern-sidebar-link-left-padding: 1rem;
}

/**
 * ----- GENERAL ----
 **/

body {
  font-size: 1.4rem;
  line-height: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

.main-card {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 100px;
  min-width: 200px;
  margin: 15px;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  border-radius: 5px;
}

.hidden {
  display: none;
}

/**
 * ----- STRUCTURE ----
 **/

nav.navbar {
  display: none;
}

footer.footer {
  display: none;
}

.intro {
  margin-bottom: 10rem;
}

.overview {
  display: none;
}

#schemas {
  overflow: auto;
}

div.preambel {
  margin-bottom: 6rem;
  font-family: sans-serif;
}

div.schema-wrapper {
  display: grid;
  grid-template-columns: 26rem auto;
  grid-template-rows: auto;
}

div.schema-content {
  padding-top: 8rem;
  padding-left: 2rem;
  padding-bottom: 6rem;
  min-width:  300px;
  max-width: 1100px;
}

div.schema-sidebar {
  overflow: auto;
  padding-top: 8rem;
  position: sticky;
  top: 0;
  display: block;
  height: 98vh;
  border-right: 4px solid #eee;
}

@media screen and (max-width: 78em) {
  div.schema-wrapper {
    display: block;
    width: 100%;
  }

  div.schema-sidebar {
    display:none;
  }
}

/**
 * ----- CONTENT ----
 **/

.ui-description {
 font-size: 1rem;
}

.schema-section {
  margin-bottom: 4rem;
  border-top: 0.5rem solid black;
}

.schema-nodes {
  padding-left: 2rem;
}

.schema-edges {
  padding-left: 2rem;
}

.schema-properties {
  padding-left: 2rem;
}

#contributors {
  font-size: 1.2rem;
  font-weight: 300;
}

div.node {
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.node-property {
  font-size: 1.4rem;
  margin: 0.3rem;
}

h4.node-name::before {
  content: "NODE";
  background-color: #4EC001;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.node-extension {
  font-size: 1.4rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.node-comment {
 font-family: sans-serif;
}

.node-properties {
  margin-top: 1rem;
}

.node-inherited-properties {
  margin-top: 1rem;
}

.node-extensions {
  margin-top: 1rem;
}


div.edge {
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.edge-comment {
 font-family: sans-serif;
}

h4.edge-name::before {
  content: "EDGE";
  background-color: #46A2CA;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

div.property {
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.property-comment {
  font-family: sans-serif;
}

h4.property-name::before {
  content: "PROPERTY";
  background-color: #F3DCDA;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.schema-frontend-descr {
  font-size: 1.2rem;
}

.definition-property-link {
  background-color: #f3dcda;
  color: black;
  padding: 0.3rem;
  border: 1px solid black;
  font-size: 1rem;
}

.definition-node-link {
  background-color: #4EC001;
  color: black;
  padding: 0.3rem;
  border: 1px solid black;
  font-size: 1rem;
}

a.description-link:link, a.description-link:visited, a.description-link:focus, a.description-link:active {
  color: black;
  text-decoration: none;
}

/**
 * ----- SIDEBAR ----
 **/

div.schema-sidebar-title {
  margin-top: 2rem;
}

div.schema-sidebar-content {
  padding-top: 1rem;
}

a.schema-sidebar-title {
  font-size: 1.2rem;
}

ul.schemas {
  list-style-type: none;
}

ul.schemas li {
  font-size: 1rem;
}

ul.schema-nodes {
  list-style-type: none;
}

ul.schema-nodes li {
  margin-left: --ifm-joern-sidebar-link-left-padding;
}

ul.schema-edges {
  list-style-type: none;
}

ul.schema-edges li {
  margin-left: --ifm-joern-sidebar-link-left-padding;
}

ul.schema-properties {
  list-style-type: none;
}

ul.schema-properties li {
  margin-left: --ifm-joern-sidebar-link-left-padding;
}

.sidebar-node-link::before {
  content: "N";
  background-color: #4EC001;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.sidebar-edge-link::before {
  content: "E";
  background-color: #46A2CA;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.sidebar-property-link::before {
  content: "P";
  background-color: #f3dcda;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.sidebar-link {
  color: black;
}

a.sidebar-link:link, a.sidebar-link:visited, a.sidebar-link:focus, a.sidebar-link:active {
  color: black;
  text-decoration: none;
}

a.sidebar-link:hover {
  color: gray;
  text-decoration: underline;
}

